/* Explanation in JS tab */

/* Cool font from Google Fonts! */
/* @import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Lato', sans-serif;
	font-size: 80pt;
	
	text-align: center;
	
	user-select: none;
}

.quote{
	position: absolute;
	text-align: center;
	margin-top:65vh;
	width: 100%;
	font-weight: 500;
	font-size:20px;
	letter-spacing: 2px;
    font-family: 'lato',sans-serif;
    background: -webkit-linear-gradient(white, #739dc7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}